doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="to do list")
        title To Do list

        link( rel="preconnect",href="https://fonts.googleapis.com")
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(  href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&family=Ubuntu:wght@300&display=swap"
           rel="stylesheet")

        link( rel="preconnect" href="https://fonts.googleapis.com")
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin )
        link( href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
           rel="stylesheet")

        link(rel="stylesheet" href="css/bootstrap.css")
        link(rel="stylesheet" href="scss/scss.scss")
        link(rel="stylesheet" href="css/scss.css")
    body 

      
      script(src="js/popper.min.js")
      script(src="js/jquery-3.6.0.min.js")
      script(src="js/bootstrap.js")
      script(src="js/pj-28js.js")